<a href="https://colab.research.google.com/github/JakeLi2001/EverUp-Micro-Credential-Data-Analytics/blob/main/Python/Unit2_L4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intrdouction to Python - Loop - Assignment #3

## 1. Create a list that holds 5 data variables.

In [ ]:
# Places I want to visit.
Places = ["Rome", "Las Vegas", "Tokyo", "Dubai", "Beijing"]

## 2.	Print out those variables by using a for loop

In [ ]:
for x in Places:
  print(x)

Rome
Las Vegas
Tokyo
Dubai
Beijing

## 3.	Modify your for loop to add a message to your for loop.

In [ ]:
for x in Places:
  print("I want to visit" + " " + x + "!")

I want to visit Rome!
I want to visit Las Vegas!
I want to visit Tokyo!
I want to visit Dubai!
I want to visit Beijing!

## 4.	Use a for loop to print even numbers from 1-20.

In [ ]:
for num in list(range(0,21,2)):
  print(num)

0
2
4
6
8
10
12
14
16
18
20

## 5.	Sort your list in alphabetic order.

In [ ]:
Places.sort()
print(Places)

['Beijing', 'Dubai', 'Las Vegas', 'Rome', 'Tokyo']

## 6.	Print out the first three elements of your list.

In [ ]:
print(Places[:3])

['Beijing', 'Dubai', 'Las Vegas']

## 7.	Create a loop to print the last 2 elements of your list.

In [ ]:
for x in Places[-2:]:
  print(x)

Rome
Tokyo